extends ../layout

block content
  .text-center
    h1 FDM
    p.lead We are a small team tailored to address the needs of Data Analysis.
   
    p 
    p
    p
      a.btn.btn-primary.btn-large(href='') Learn more about FDM&raquo;

