extends ../layout

block content
  .text-center
    h1 FDM
    p.lead We are a small team of Data Analysts with in Global Fianance's- Controllers group tailored to address the needs of Data Analysis.
   
    p 
    p
    p
      a.btn.btn-primary.btn-large(href='https://pulse.kdc.capitalone.com/groups/fdm-internal') Learn more about FDM&raquo;

